USE [master]
GO
/****** Object:  Database [db36454]    Script Date: 1/6/2026 5:47:26 PM ******/
CREATE DATABASE [db36454]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db36454', FILENAME = N'D:\Services\MSSQL\Data\db36454.mdf' , SIZE = 73728KB , MAXSIZE = 1048576KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db36454_log', FILENAME = N'D:\Services\MSSQL\Data\db36454_log.ldf' , SIZE = 8192KB , MAXSIZE = 5242880KB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db36454].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db36454]
GO
/****** Object:  FullTextCatalog [db36454]    Script Date: 1/6/2026 5:47:28 PM ******/
CREATE FULLTEXT CATALOG [db36454] WITH ACCENT_SENSITIVITY = ON
AS DEFAULT
GO
/****** Object:  Table [dbo].[Category]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[BasePrice] [decimal](10, 2) NULL,
	[Description] [nvarchar](255) NULL,
	[CategoryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ServiceWithCategory]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ServiceWithCategory]
AS
SELECT  s.ServiceID, s.ServiceName, s.Description, s.BasePrice,c.CategoryID,c.CategoryName
FROM Service s INNER JOIN Category c
    ON s.CategoryID = c.CategoryID;
GO
/****** Object:  View [dbo].[vw_CategorySummary]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CategorySummary]
AS 
SELECT c.CategoryID,c.CategoryName, COUNT(s.ServiceID) AS ServiceCount
FROM Category c LEFT JOIN Service s
ON c.CategoryID = s.CategoryID
GROUP BY 
    c.CategoryID,
    c.CategoryName;
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Method] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PaidPayments]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PaidPayments]
AS
SELECT *FROM Payment
WHERE Status = 'Paid';
GO
/****** Object:  View [dbo].[PendingPayments]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PendingPayments]
AS
SELECT *
FROM Payment
WHERE Status = 'Pending';
GO
/****** Object:  View [dbo].[TotalRevenue]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TotalRevenue]
AS
SELECT SUM(Amount) AS TotalRevenue
FROM Payment
WHERE Status = 'Paid';
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](50) NOT NULL,
	[LName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[BirthDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Worker]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[WorkerID] [int] NOT NULL,
	[ExperienceYears] [int] NULL,
	[HourlyRate] [decimal](10, 2) NULL,
	[AvailabilityStatus] [nvarchar](50) NULL,
	[IsVerified] [bit] NOT NULL,
	[CompletedJobs] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientRateWorker]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientRateWorker](
	[RatingID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[WorkerID] [int] NOT NULL,
	[RatingValue] [int] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[RatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_TopRatedWorkers]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_TopRatedWorkers]
AS
SELECT
    w.WorkerID,
    (u.FName+' '+u.LName) 'worker name',
    u.Email,
    w.ExperienceYears,
    w.HourlyRate,
    w.AvailabilityStatus,
    AVG(crw.RatingValue) AS AverageRating,
    COUNT(crw.RatingID) AS TotalRatings
FROM Worker w
JOIN [User] u 
    ON w.WorkerID = u.UserID
JOIN ClientRateWorker crw 
    ON w.WorkerID = crw.WorkerID
GROUP BY
    w.WorkerID,
    u.FName,
    u.LName,
    u.Email,
    w.ExperienceYears,
    w.HourlyRate,
    w.AvailabilityStatus;
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[WorkerID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[BookingDate] [datetime] NOT NULL,
	[ServiceDate] [date] NOT NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[TotalCost] [decimal](10, 2) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_MostCompletedJobs_Real]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_MostCompletedJobs_Real]
AS
SELECT
    w.WorkerID,
    CONCAT(u.FName, ' ', u.LName) AS WorkerName,
    u.Email,
    COUNT(b.BookingID) AS CompletedJobs
FROM Worker w
JOIN [User] u
    ON w.WorkerID = u.UserID
JOIN Booking b
    ON w.WorkerID = b.WorkerID
WHERE b.Status = 'Completed'
GROUP BY
    w.WorkerID,
    CONCAT(u.FName, ' ', u.LName),
    u.Email;
GO
/****** Object:  View [dbo].[view_DailyBookingsDetails]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_DailyBookingsDetails]
AS
SELECT
    CAST(b.BookingDate AS date) AS BookingDay,
    COUNT(b.BookingID) AS TotalBookings,
    SUM(CASE WHEN b.Status = 'Completed' THEN 1 ELSE 0 END) AS CompletedBookings,
    SUM(CASE WHEN b.Status = 'Pending' THEN 1 ELSE 0 END) AS PendingBookings
FROM Booking b
GROUP BY
    CAST(b.BookingDate AS date);
GO
/****** Object:  View [dbo].[view_MonthlyRevenue_Detailed]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_MonthlyRevenue_Detailed]
AS
SELECT
    YEAR(p.CreatedAt)        AS RevenueYear,
    MONTH(p.CreatedAt)       AS RevenueMonth,
    DATENAME(MONTH, p.CreatedAt) AS MonthName,
    SUM(p.Amount)            AS TotalRevenue
FROM Payment p
WHERE p.Status = 'Paid'
GROUP BY
    YEAR(p.CreatedAt),
    MONTH(p.CreatedAt),
    DATENAME(MONTH, p.CreatedAt);
GO
/****** Object:  View [dbo].[view_MonthlyRevenuePerService_Detailed]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_MonthlyRevenuePerService_Detailed]
AS
SELECT
    YEAR(p.CreatedAt) AS RevenueYear,
    MONTH(p.CreatedAt) AS RevenueMonth,
    DATENAME(MONTH, p.CreatedAt) AS MonthName,
    s.ServiceID,
    s.ServiceName,
    SUM(p.Amount) AS TotalRevenue
FROM Payment p
JOIN Booking b
    ON p.BookingID = b.BookingID
JOIN Service s
    ON b.ServiceID = s.ServiceID
WHERE p.Status = 'Paid'
GROUP BY
    YEAR(p.CreatedAt),
    MONTH(p.CreatedAt),
    DATENAME(MONTH, p.CreatedAt),
    s.ServiceID,
    s.ServiceName;
GO
/****** Object:  View [dbo].[view_MonthlyRevenuePerCategory]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_MonthlyRevenuePerCategory]
AS
SELECT
    YEAR(p.CreatedAt)  AS RevenueYear,
    MONTH(p.CreatedAt) AS RevenueMonth,
    DATENAME(MONTH, p.CreatedAt) AS MonthName,
    c.CategoryID,
    c.CategoryName,
    SUM(p.Amount) AS TotalRevenue
FROM Payment p
JOIN Booking b
    ON p.BookingID = b.BookingID
JOIN Service s
    ON b.ServiceID = s.ServiceID
JOIN Category c
    ON s.CategoryID = c.CategoryID
WHERE p.Status = 'Paid'
GROUP BY
    YEAR(p.CreatedAt),
    MONTH(p.CreatedAt),
    DATENAME(MONTH, p.CreatedAt),
    c.CategoryID,
    c.CategoryName;
GO
/****** Object:  View [dbo].[view_WorkerAvailability]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_WorkerAvailability]
AS
SELECT
    w.WorkerID,
    CONCAT(u.FName, ' ', u.LName) AS WorkerName,
    u.Email,
    w.AvailabilityStatus,
    w.ExperienceYears,
    w.HourlyRate,
    w.IsVerified,
    c.CategoryName
FROM Worker w
JOIN [User] u
    ON w.WorkerID = u.UserID
JOIN Category c
    ON w.CategoryID = c.CategoryID;
GO
/****** Object:  Table [dbo].[Client]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[TotalBooking] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkerRateClient]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkerRateClient](
	[WorkerRateClientID] [int] IDENTITY(1,1) NOT NULL,
	[WorkerID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
	[RatingValue] [int] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[RatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkerRateClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_SystemDashboard]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_SystemDashboard]
AS
SELECT
    -- Users
    (SELECT COUNT(*) FROM [User]) AS TotalUsers,
    (SELECT COUNT(*) FROM [User] WHERE IsActive = 1) AS ActiveUsers,

    -- Clients & Workers
    (SELECT COUNT(*) FROM Client) AS TotalClients,
    (SELECT COUNT(*) FROM Worker) AS TotalWorkers,

    -- Bookings
    (SELECT COUNT(*) FROM Booking) AS TotalBookings,
    (SELECT COUNT(*) FROM Booking WHERE Status = 'Completed') AS CompletedBookings,
    (SELECT COUNT(*) FROM Booking WHERE Status = 'Pending') AS PendingBookings,

    -- Revenue
    (SELECT ISNULL(SUM(Amount), 0) FROM Payment WHERE Status = 'Paid') AS TotalRevenue,

    -- Ratings
    (SELECT AVG(CAST(RatingValue AS decimal(5,2))) FROM ClientRateWorker) AS AvgWorkerRating,
    (SELECT AVG(CAST(RatingValue AS decimal(5,2))) FROM WorkerRateClient) AS AvgClientRating;
GO
/****** Object:  View [dbo].[PaymentDetails]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PaymentDetails]
AS
SELECT p.PaymentID, p.BookingID, b.ClientID, p.CreatedAt AS PaymentDate, p.Amount, p.Status
FROM Payment p
LEFT JOIN Booking b
    ON p.BookingID = b.BookingID
LEFT JOIN Client c
    ON b.ClientID = c.ClientID;
GO
/****** Object:  View [dbo].[ClientReviews]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ClientReviews]
AS
SELECT *FROM ClientRateWorker;
GO
/****** Object:  View [dbo].[WorkerReviews]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[WorkerReviews]
AS
SELECT *FROM WorkerRateClient;
GO
/****** Object:  View [dbo].[vw_AverageWorkerRating]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AverageWorkerRating]
AS
SELECT
    WorkerID,
    AVG(RatingValue) AS AverageRate,
    COUNT(*) AS TotalReviews
FROM ClientRateWorker
GROUP BY WorkerID;
GO
/****** Object:  View [dbo].[vw_AverageClientRating]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AverageClientRating]
AS
SELECT
    ClientID,
    AVG(RatingValue) AS AverageRate,
    COUNT(*) AS TotalReviews
FROM WorkerRateClient
GROUP BY ClientID;
GO
/****** Object:  View [dbo].[View_UserRoles]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   create view [dbo].[View_UserRoles]
		 as 
		 select  UserID,FName,LName,Email,Phone,IsActive,CreatedAt,
		  CASE 
        WHEN C.ClientID IS NOT NULL AND W.WorkerID IS NOT NULL THEN 'Client & Worker'
        WHEN C.ClientID IS NOT NULL THEN 'Client'
        WHEN W.WorkerID IS NOT NULL THEN 'Worker'
        ELSE 'None'
        END AS UserRole
		from [User] U
		Left join client c on u.UserID=c.ClientID
		left join Worker w on u.UserID=w.WorkerID;
GO
/****** Object:  View [dbo].[View_ActiveUsers]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[View_ActiveUsers]
		  as
		  select FName,LName,Email,Phone,CreatedAt, IsActive
		  from [User]
		  where IsActive=1;
GO
/****** Object:  View [dbo].[View_AllClients]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create view [dbo].[View_AllClients]
		as 
		select FName,LName,Email,Phone,CreatedAt, IsActive
		from [User]
		inner join Client on client.ClientID=[User].UserID;
GO
/****** Object:  View [dbo].[View_AllWorkers]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[View_AllWorkers]
		as 
		select FName, LName, Email, Phone,
		     CreatedAt, ExperienceYears, AvailabilityStatus, HourlyRate, IsVerified
		from [User]
		inner join Worker on Worker.WorkerID=[User].UserID;
GO
/****** Object:  View [dbo].[View_FullbookingInfo]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create view [dbo].[View_FullbookingInfo]
		 as 
		 select b.BookingDate, b.ServiceDate, b.StartTime, b.EndTime,b.Status,b.TotalCost,
		 ----client info
		 uc.UserID ClientID,
		 uc.FName  ClientFName,
		 uc.LName ClientLName,
		 uc.Phone ClientPhone,
		 uc.Email ClientEmail,
		 ----Total booking

		 ---Worker Info

		 UW.FName WorkerFName, 
		 UW.LName WorkerLName, 
		 UW.Email WorkerEmail, 
		 UW.Phone WorkerPhone,
		w.ExperienceYears, 
		w.AvailabilityStatus, 
		w.HourlyRate, 
		w.IsVerified,
		----Completed Job

		---Service
		s.ServiceName ServiceName,
		s.Description ServiceDescription,

		---Category
		cat.CategoryName CategoryName
		------
		 from Booking b
		 join Client c on b.ClientID= c.ClientID
		 join [User] Uc on Uc.UserID=c.ClientID

		 join Worker w on b.WorkerID=w.WorkerID
     	 join [User] Uw on Uw.UserID=w.WorkerID

		 join Service s on b.ServiceID=s.ServiceID

		 join Category cat on s.CategoryID=cat.CategoryID;
GO
/****** Object:  View [dbo].[View_CompletedBooking]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create view [dbo].[View_CompletedBooking]
		 as 
		 select *
		 from View_FullbookingInfo
		 where Status='Completed';
GO
/****** Object:  View [dbo].[View_PendingBooking]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Pending Bookings View		
		create view [dbo].[View_PendingBooking]
		as
		 select *
		 from View_FullbookingInfo
         where Status='Pending';
GO
/****** Object:  View [dbo].[View_UpcomongBooking]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[View_UpcomongBooking]
			as
		 select *
		 from View_FullbookingInfo
         where   BookingDate>=GETDATE() AND Status='Upcoming';
GO
/****** Object:  View [dbo].[View_BookingHistory]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[View_BookingHistory] 
		as 
		select *
		from View_FullbookingInfo
		where BookingDate <GETDATE();

GO
/****** Object:  View [dbo].[ServiceList]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ServiceList]
AS
SELECT*FROM Service;
GO
/****** Object:  Table [dbo].[Review]    Script Date: 1/6/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](255) NULL,
	[SubmittedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingID], [ClientID], [WorkerID], [ServiceID], [BookingDate], [ServiceDate], [StartTime], [EndTime], [TotalCost], [Status]) VALUES (1, 1, 101, 1, CAST(N'2026-01-03T22:15:26.557' AS DateTime), CAST(N'2026-01-01' AS Date), CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time), CAST(150.00 AS Decimal(10, 2)), N'Cancelled')
INSERT [dbo].[Booking] ([BookingID], [ClientID], [WorkerID], [ServiceID], [BookingDate], [ServiceDate], [StartTime], [EndTime], [TotalCost], [Status]) VALUES (2, 2, 102, 2, CAST(N'2026-01-03T22:15:26.557' AS DateTime), CAST(N'2026-01-02' AS Date), CAST(N'10:00:00' AS Time), CAST(N'11:30:00' AS Time), CAST(200.00 AS Decimal(10, 2)), N'Completed')
INSERT [dbo].[Booking] ([BookingID], [ClientID], [WorkerID], [ServiceID], [BookingDate], [ServiceDate], [StartTime], [EndTime], [TotalCost], [Status]) VALUES (3, 3, 103, 3, CAST(N'2026-01-03T22:15:26.557' AS DateTime), CAST(N'2026-01-03' AS Date), CAST(N'11:00:00' AS Time), CAST(N'13:00:00' AS Time), CAST(120.00 AS Decimal(10, 2)), N'Completed')
GO
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Plumbing', N'Plumbing installation and repair services')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Electrical', N'Electrical wiring and maintenance')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Cleaning', N'Home and office cleaning services')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Client] ([ClientID], [Notes], [TotalBooking]) VALUES (1, N'Regular client', 2)
INSERT [dbo].[Client] ([ClientID], [Notes], [TotalBooking]) VALUES (2, N'VIP client', 5)
INSERT [dbo].[Client] ([ClientID], [Notes], [TotalBooking]) VALUES (3, N'New client', 0)
GO
SET IDENTITY_INSERT [dbo].[ClientRateWorker] ON 

INSERT [dbo].[ClientRateWorker] ([RatingID], [ClientID], [WorkerID], [RatingValue], [Comment], [RatedAt]) VALUES (1, 1, 101, 2, N'Professional and reliable service', CAST(N'2026-01-03T22:38:47.337' AS DateTime))
INSERT [dbo].[ClientRateWorker] ([RatingID], [ClientID], [WorkerID], [RatingValue], [Comment], [RatedAt]) VALUES (2, 2, 101, 3, N'Professional and reliable service', CAST(N'2026-01-03T22:38:47.337' AS DateTime))
INSERT [dbo].[ClientRateWorker] ([RatingID], [ClientID], [WorkerID], [RatingValue], [Comment], [RatedAt]) VALUES (3, 2, 102, 3, N'Professional and reliable service', CAST(N'2026-01-03T22:38:47.337' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ClientRateWorker] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [BookingID], [Amount], [Method], [Status], [CreatedAt]) VALUES (1, 1, CAST(150.00 AS Decimal(10, 2)), N'Cash', N'Paid', CAST(N'2026-01-03T22:34:27.757' AS DateTime))
INSERT [dbo].[Payment] ([PaymentID], [BookingID], [Amount], [Method], [Status], [CreatedAt]) VALUES (2, 2, CAST(200.00 AS Decimal(10, 2)), N'Card', N'Paid', CAST(N'2026-01-03T22:34:27.757' AS DateTime))
INSERT [dbo].[Payment] ([PaymentID], [BookingID], [Amount], [Method], [Status], [CreatedAt]) VALUES (3, 3, CAST(120.00 AS Decimal(10, 2)), N'Cash', N'Paid', CAST(N'2026-01-03T22:34:27.757' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewID], [BookingID], [ClientID], [Rating], [Comment], [SubmittedAt]) VALUES (1, 1, 1, 2, N'Service completed successfully', CAST(N'2026-01-03T22:36:46.933' AS DateTime))
INSERT [dbo].[Review] ([ReviewID], [BookingID], [ClientID], [Rating], [Comment], [SubmittedAt]) VALUES (2, 2, 2, 3, N'Service completed successfully', CAST(N'2026-01-03T22:36:46.933' AS DateTime))
INSERT [dbo].[Review] ([ReviewID], [BookingID], [ClientID], [Rating], [Comment], [SubmittedAt]) VALUES (3, 3, 3, 4, N'Service completed successfully', CAST(N'2026-01-03T22:36:46.933' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ServiceID], [ServiceName], [BasePrice], [Description], [CategoryID]) VALUES (1, N'Pipe Repair', CAST(150.00 AS Decimal(10, 2)), N'Fixing leaking or broken pipes', 1)
INSERT [dbo].[Service] ([ServiceID], [ServiceName], [BasePrice], [Description], [CategoryID]) VALUES (2, N'Electrical Wiring', CAST(200.00 AS Decimal(10, 2)), N'Home electrical wiring service', 2)
INSERT [dbo].[Service] ([ServiceID], [ServiceName], [BasePrice], [Description], [CategoryID]) VALUES (3, N'Home Cleaning', CAST(120.00 AS Decimal(10, 2)), N'Full house cleaning', 3)
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [FName], [LName], [Email], [Phone], [PasswordHash], [BirthDate], [IsActive], [CreatedAt]) VALUES (1, N'John', N'Smith', N'john.smith1@mail.com', N'0100000001', N'hash1', CAST(N'1990-01-01' AS Date), 1, CAST(N'2026-01-03T21:53:27.877' AS DateTime))
INSERT [dbo].[User] ([UserID], [FName], [LName], [Email], [Phone], [PasswordHash], [BirthDate], [IsActive], [CreatedAt]) VALUES (2, N'Jane', N'Smith', N'jane.smith2@mail.com', N'0100000002', N'hash2', CAST(N'1991-01-02' AS Date), 1, CAST(N'2026-01-03T21:53:27.877' AS DateTime))
INSERT [dbo].[User] ([UserID], [FName], [LName], [Email], [Phone], [PasswordHash], [BirthDate], [IsActive], [CreatedAt]) VALUES (3, N'Ali', N'Ahmed', N'ali.ahmed3@mail.com', N'0100000003', N'hash3', CAST(N'1992-02-03' AS Date), 1, CAST(N'2026-01-03T21:53:27.877' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[Worker] ([WorkerID], [ExperienceYears], [HourlyRate], [AvailabilityStatus], [IsVerified], [CompletedJobs], [CategoryID]) VALUES (101, 5, CAST(100.00 AS Decimal(10, 2)), N'Available', 1, 8, 2)
INSERT [dbo].[Worker] ([WorkerID], [ExperienceYears], [HourlyRate], [AvailabilityStatus], [IsVerified], [CompletedJobs], [CategoryID]) VALUES (102, 3, CAST(85.00 AS Decimal(10, 2)), N'Busy', 1, 3, 3)
INSERT [dbo].[Worker] ([WorkerID], [ExperienceYears], [HourlyRate], [AvailabilityStatus], [IsVerified], [CompletedJobs], [CategoryID]) VALUES (103, 7, CAST(120.00 AS Decimal(10, 2)), N'Available', 1, 3, 4)
GO
SET IDENTITY_INSERT [dbo].[WorkerRateClient] ON 

INSERT [dbo].[WorkerRateClient] ([WorkerRateClientID], [WorkerID], [ClientID], [RatingValue], [Comment], [RatedAt]) VALUES (1, 101, 1, 2, N'Client was cooperative and punctual', CAST(N'2026-01-03T22:40:31.600' AS DateTime))
INSERT [dbo].[WorkerRateClient] ([WorkerRateClientID], [WorkerID], [ClientID], [RatingValue], [Comment], [RatedAt]) VALUES (2, 101, 2, 3, N'Client was cooperative and punctual', CAST(N'2026-01-03T22:40:31.600' AS DateTime))
INSERT [dbo].[WorkerRateClient] ([WorkerRateClientID], [WorkerID], [ClientID], [RatingValue], [Comment], [RatedAt]) VALUES (3, 102, 2, 3, N'Client was cooperative and punctual', CAST(N'2026-01-03T22:40:31.600' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[WorkerRateClient] OFF
GO
/****** Object:  Index [UQ_ClientRateWorker_Client_Worker]    Script Date: 1/6/2026 5:47:32 PM ******/
ALTER TABLE [dbo].[ClientRateWorker] ADD  CONSTRAINT [UQ_ClientRateWorker_Client_Worker] UNIQUE NONCLUSTERED 
(
	[ClientID] ASC,
	[WorkerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Review__73951ACCE06D027B]    Script Date: 1/6/2026 5:47:32 PM ******/
ALTER TABLE [dbo].[Review] ADD UNIQUE NONCLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__5C7E359EC1EBD8E7]    Script Date: 1/6/2026 5:47:32 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D105342373FF40]    Script Date: 1/6/2026 5:47:32 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_WorkerRateClient_Worker_Client]    Script Date: 1/6/2026 5:47:32 PM ******/
ALTER TABLE [dbo].[WorkerRateClient] ADD  CONSTRAINT [UQ_WorkerRateClient_Worker_Client] UNIQUE NONCLUSTERED 
(
	[WorkerID] ASC,
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Client] ADD  DEFAULT ((0)) FOR [TotalBooking]
GO
ALTER TABLE [dbo].[ClientRateWorker] ADD  DEFAULT (getdate()) FOR [RatedAt]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Worker] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[Worker] ADD  DEFAULT ((0)) FOR [CompletedJobs]
GO
ALTER TABLE [dbo].[WorkerRateClient] ADD  DEFAULT (getdate()) FOR [RatedAt]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Client]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Service]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Worker] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[Worker] ([WorkerID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Worker]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_User] FOREIGN KEY([ClientID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_User]
GO
ALTER TABLE [dbo].[ClientRateWorker]  WITH CHECK ADD  CONSTRAINT [FK_ClientRateWorker_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClientRateWorker] CHECK CONSTRAINT [FK_ClientRateWorker_Client]
GO
ALTER TABLE [dbo].[ClientRateWorker]  WITH CHECK ADD  CONSTRAINT [FK_ClientRateWorker_Worker] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[Worker] ([WorkerID])
GO
ALTER TABLE [dbo].[ClientRateWorker] CHECK CONSTRAINT [FK_ClientRateWorker_Worker]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Booking]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Booking]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Client]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_Category]
GO
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD  CONSTRAINT [FK_Worker_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK_Worker_Category]
GO
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD  CONSTRAINT [FK_Worker_User] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK_Worker_User]
GO
ALTER TABLE [dbo].[WorkerRateClient]  WITH CHECK ADD  CONSTRAINT [FK_WorkerRateClient_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[WorkerRateClient] CHECK CONSTRAINT [FK_WorkerRateClient_Client]
GO
ALTER TABLE [dbo].[WorkerRateClient]  WITH CHECK ADD  CONSTRAINT [FK_WorkerRateClient_Worker] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[Worker] ([WorkerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkerRateClient] CHECK CONSTRAINT [FK_WorkerRateClient_Worker]
GO
ALTER TABLE [dbo].[ClientRateWorker]  WITH CHECK ADD  CONSTRAINT [CK_ClientRateWorker_Value] CHECK  (([RatingValue]>=(1) AND [RatingValue]<=(5)))
GO
ALTER TABLE [dbo].[ClientRateWorker] CHECK CONSTRAINT [CK_ClientRateWorker_Value]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD CHECK  (([ExperienceYears]>=(0)))
GO
ALTER TABLE [dbo].[WorkerRateClient]  WITH CHECK ADD  CONSTRAINT [CK_WorkerRateClient_Value] CHECK  (([RatingValue]>=(1) AND [RatingValue]<=(5)))
GO
ALTER TABLE [dbo].[WorkerRateClient] CHECK CONSTRAINT [CK_WorkerRateClient_Value]
GO
/****** Object:  StoredProcedure [dbo].[GetWorkerPerformanceSummary]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 Create PROCEDURE [dbo].[GetWorkerPerformanceSummary]
    @WorkerID INT
	as
    SELECT 
        U.UserID AS WorkerID,
        U.FName,
        U.LName,
        U.Email,
        U.Phone,
        W.ExperienceYears,
        W.HourlyRate,
        W.IsVerified,
        W.CompletedJobs,
        W.AvailabilityStatus,

        Perf.TotalBookings,
        Perf.CompletedBookings,
        Perf.PendingBookings,
        Perf.UpcomingBookings,

        Perf.TotalEarnings,
        Perf.AvgRating,
        Perf.TotalRatings,
        Perf.ServiceCount
    FROM Worker W
    INNER JOIN [User] U ON W.WorkerID = U.UserID
    OUTER APPLY (
        SELECT 
            COUNT(*) AS TotalBookings,
            SUM(CASE WHEN B.Status = 'Completed' THEN 1 END) AS CompletedBookings,
            SUM(CASE WHEN B.Status = 'Pending' THEN 1 END) AS PendingBookings,
            SUM(CASE WHEN B.Status = 'Upcoming' THEN 1 END) AS UpcomingBookings,

            -- Ratings
            AVG(CAST(WRC.RatingValue AS DECIMAL(10,2))) AS AvgRating,
            COUNT(WRC.RatingValue) AS TotalRatings,

            -- Earnings
            SUM(P.Amount) AS TotalEarnings,

            -- Different services count
            COUNT(DISTINCT B.ServiceID) AS ServiceCount
        FROM Booking B
        LEFT JOIN Payment P ON P.BookingID = B.BookingID
        LEFT JOIN WorkerRateClient WRC ON WRC.WorkerID = B.WorkerID
        WHERE B.WorkerID = @WorkerID
    ) AS Perf
    WHERE W.WorkerID = @WorkerID;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddReview]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddReview]
    @BookingID   INT,
    @ClientID    INT,
    @Rating      INT,
    @Comment     NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate Rating
    IF @Rating NOT BETWEEN 1 AND 5
    BEGIN
        RAISERROR ('Rating must be between 1 and 5', 16, 1);
        RETURN;
    END

    -- Prevent duplicate review per booking
    IF EXISTS (SELECT 1 FROM Review WHERE BookingID = @BookingID)
    BEGIN
        RAISERROR ('Review already exists for this booking', 16, 1);
        RETURN;
    END

    INSERT INTO Review (BookingID, ClientID, Rating, Comment)
    VALUES (@BookingID, @ClientID, @Rating, @Comment);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AssignWorkerToCategory]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AssignWorkerToCategory]
    @WorkerID   INT,
    @CategoryID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if worker exists
    IF NOT EXISTS (SELECT 1 FROM Worker WHERE WorkerID = @WorkerID)
    BEGIN
        RAISERROR ('Worker not found', 16, 1);
        RETURN;
    END

    -- Check if category exists
    IF NOT EXISTS (SELECT 1 FROM Category WHERE CategoryID = @CategoryID)
    BEGIN
        RAISERROR ('Category not found', 16, 1);
        RETURN;
    END

    UPDATE Worker
    SET CategoryID = @CategoryID
    WHERE WorkerID = @WorkerID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateTotalRevenue]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CalculateTotalRevenue]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ISNULL(SUM(Amount), 0) AS TotalRevenue
    FROM Payment
    WHERE Status = 'Paid';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateTotalRevenue_ByDate]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CalculateTotalRevenue_ByDate]
    @StartDate DATE,
    @EndDate   DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ISNULL(SUM(Amount), 0) AS TotalRevenue
    FROM Payment
    WHERE Status = 'Paid'
      AND CAST(CreatedAt AS DATE) BETWEEN @StartDate AND @EndDate;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CancelBooking]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CancelBooking]
    @BookingID INT
AS
BEGIN
    UPDATE Booking
    SET Status = 'Cancelled'
    WHERE BookingID = @BookingID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckWorkerAvailability]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CheckWorkerAvailability]
    @WorkerID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if worker exists
    IF NOT EXISTS (SELECT 1 FROM Worker WHERE WorkerID = @WorkerID)
    BEGIN
        RAISERROR ('Worker not found', 16, 1);
        RETURN;
    END

    SELECT
        w.WorkerID,
        CONCAT(u.FName, ' ', u.LName) AS WorkerName,
        w.AvailabilityStatus,
        w.IsVerified,
        w.ExperienceYears,
        w.HourlyRate,
        c.CategoryName
    FROM Worker w
    JOIN [User] u
        ON w.WorkerID = u.UserID
    JOIN Category c
        ON w.CategoryID = c.CategoryID
    WHERE w.WorkerID = @WorkerID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateBooking]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateBooking]
    @ClientID INT,
    @WorkerID INT,
    @ServiceID INT,
    @BookingDate DATETIME,
    @ServiceDate DATE,
    @StartTime TIME(7),
    @EndTime TIME(7),
    @TotalCost DECIMAL(10,2),
    @Status NVARCHAR(50)
AS
BEGIN
    INSERT INTO Booking
    (
        ClientID,
        WorkerID,
        ServiceID,
        BookingDate,
        ServiceDate,
        StartTime,
        EndTime,
        TotalCost,
        Status
    )
    VALUES
    (
        @ClientID,
        @WorkerID,
        @ServiceID,
        @BookingDate,
        @ServiceDate,
        @StartTime,
        @EndTime,
        @TotalCost,
        @Status
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateCategory]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateCategory]
    @CategoryName NVARCHAR(100),
    @Description NVARCHAR(255) = NULL
AS
BEGIN
    INSERT INTO Category (CategoryName, Description)
    VALUES (@CategoryName, @Description);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateClient]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

		   Create Procedure [dbo].[SP_CreateClient]
		    @FName NVARCHAR(50),
			@LName NVARCHAR(50),
			@Email NVARCHAR(100),
			@Phone NVARCHAR(20),
			@PasswordHash NVARCHAR(255),
			@BirthDate DATE ,
			@Notes  NVARCHAR(50)
			as 



	   INSERT INTO [User] (FName, LName, Email, Phone, PasswordHash, BirthDate, IsActive, CreatedAt)
        VALUES (@FName, @LName, @Email, @Phone, @PasswordHash, @BirthDate, 1, GETDATE());

        DECLARE @NewUserID INT = SCOPE_IDENTITY();

        -- Create Worker
        INSERT INTO Client(ClientID,Notes,TotalBooking)
        VALUES (@NewUserID, @Notes,0);

   

GO
/****** Object:  StoredProcedure [dbo].[sp_CreatePayment]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreatePayment]
    @BookingID INT,
    @Amount DECIMAL(10,2),
    @Method NVARCHAR(50),  
    @Status NVARCHAR(50)  
AS
BEGIN
    INSERT INTO Payment
    (
        BookingID,
        Amount,
        Method,
        Status
    )
    VALUES
    (
        @BookingID,
        @Amount,
        @Method,
        @Status
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateService]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateService]
  @ServiceName NVARCHAR(100),
    @Description NVARCHAR(255),
    @BasePrice DECIMAL(10,2),
    @CategoryID INT
as
BEGIN
    INSERT INTO Service (ServiceName, Description, BasePrice, CategoryID)
    VALUES (@ServiceName, @Description, @BasePrice, @CategoryID);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateUser]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_CreateUser]
		--@UserId int,
		@fName nvarchar(50),
		@lName nvarchar(50),
		@email nvarchar(50),
		@phone nvarchar(20),
		@Password nvarchar(20),
		@birthDate Date
		as
		insert into [User](FName, LName,Email,PasswordHash,Phone,BirthDate,CreatedAt)
		values(@fName,@lName,@email, @phone,@Password, @birthDate, GetDate());
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateWorker]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE Procedure [dbo].[SP_CreateWorker]
		    @FName NVARCHAR(50),
			@LName NVARCHAR(50),
			@Email NVARCHAR(100),
			@Phone NVARCHAR(20),
			@PasswordHash NVARCHAR(255),
			@BirthDate DATE ,
			@ExperienceYears INT ,
			@HourlyRate DECIMAL(10,2) ,
			@AvailabilityStatus NVARCHAR(50) = 'Available',
			@IsVerified BIT = 0, 
			@CategoryID int
			as 



	   INSERT INTO [User] (FName, LName, Email, Phone, PasswordHash, BirthDate, IsActive, CreatedAt)
        VALUES (@FName, @LName, @Email, @Phone, @PasswordHash, @BirthDate, 1, GETDATE());

        DECLARE @NewUserID INT = SCOPE_IDENTITY();

        -- Create Worker
        INSERT INTO Worker (WorkerID, ExperienceYears, HourlyRate, AvailabilityStatus, IsVerified, CompletedJobs,CategoryID)
        VALUES (@NewUserID, @ExperienceYears, @HourlyRate, @AvailabilityStatus, @IsVerified, 0,@CategoryID);

   


 
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCategoryy]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_DeleteCategoryy]
@CategoryID INT
as 
delete FROM Category
         WHERE CategoryID = @CategoryID;
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteClient]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DeleteClient]
		@id int
		as
		delete from Client 
		where ClientID = @id

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteReview]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteReview]
    @ReviewID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if Review exists
    IF NOT EXISTS (SELECT 1 FROM Review WHERE ReviewID = @ReviewID)
    BEGIN
        RAISERROR ('Review not found', 16, 1);
        RETURN;
    END

    DELETE FROM Review
    WHERE ReviewID = @ReviewID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteService]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteService]
    @ServiceID INT
AS
BEGIN
    DELETE FROM Service
    WHERE ServiceID = @ServiceID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUser]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DeleteUser]
		@id int
		as
		delete from [User] 
		where UserID = @id
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllActivatedUser]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetAllActivatedUser]
		as
		select* from [User] 
		where IsActive=1;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCategories]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllCategories]
AS
BEGIN
    SELECT * FROM Category;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllDeActivatedUser]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetAllDeActivatedUser]
		as
		select* from [User] 
		where IsActive=0;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUser]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetAllUser]
		as
		select* from [User] 
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAvailbleWorker]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   --18.	Get Available Workers
   create procedure [dbo].[SP_GetAvailbleWorker]
      as 
	  select U.FName,u.LName ,u.Email,u.Phone, Worker.ExperienceYears,Worker.HourlyRate
	  from Worker
	  inner join [User] U on U.UserID=Worker.WorkerID
	  where Worker.AvailabilityStatus='Available';

	   --===
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAverageClientRating]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAverageClientRating]
    @ClientID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.ClientID,
        CONCAT(u.FName, ' ', u.LName) AS ClientName,
        AVG(CAST(wrc.RatingValue AS DECIMAL(5,2))) AS AverageRating,
        COUNT(wrc.WorkerRateClientID) AS TotalRatings
    FROM WorkerRateClient wrc
    JOIN Client c
        ON wrc.ClientID = c.ClientID
    JOIN [User] u
        ON c.ClientID = u.UserID
    WHERE c.ClientID = @ClientID
    GROUP BY
        c.ClientID,
        CONCAT(u.FName, ' ', u.LName);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAverageWorkerRating]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAverageWorkerRating]
    @WorkerID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        w.WorkerID,
        CONCAT(u.FName, ' ', u.LName) AS WorkerName,
        AVG(CAST(crw.RatingValue AS DECIMAL(5,2))) AS AverageRating,
        COUNT(crw.RatingID) AS TotalRatings
    FROM ClientRateWorker crw
    JOIN Worker w
        ON crw.WorkerID = w.WorkerID
    JOIN [User] u
        ON w.WorkerID = u.UserID
    WHERE w.WorkerID = @WorkerID
    GROUP BY
        w.WorkerID,
        CONCAT(u.FName, ' ', u.LName);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookingByID]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBookingByID]
    @BookingID INT
AS
BEGIN
    SELECT *
    FROM Booking
    WHERE BookingID = @BookingID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookingsByClient]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBookingsByClient]
    @ClientID INT
AS
BEGIN
    SELECT *
    FROM Booking
    WHERE ClientID = @ClientID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookingsByWorker]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBookingsByWorker]
    @WorkerID INT
AS
BEGIN
    SELECT 
        b.BookingID,
        b.BookingDate,
        b.Status,
        b.ServiceID,
        w.WorkerID,
        u.UserID,
        u.FName,
        u.LName
    FROM Booking b
    INNER JOIN Worker w
        ON b.WorkerID = w.WorkerID
    INNER JOIN [User] u
        ON w.WorkerID= u.UserID
    WHERE b.WorkerID = @WorkerID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookingStatistics]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBookingStatistics]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        COUNT(*) AS TotalBookings,
        SUM(CASE WHEN Status = 'Completed' THEN 1 ELSE 0 END) AS CompletedBookings,
        SUM(CASE WHEN Status = 'Pending' THEN 1 ELSE 0 END) AS PendingBookings,
        SUM(CASE WHEN Status NOT IN ('Completed','Pending') THEN 1 ELSE 0 END) AS OtherStatusBookings
    FROM Booking;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientBookingCount]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create procedure [dbo].[SP_GetClientBookingCount]
		@id int
		as
		select COUNT(*)
		from Booking
		--inner join Booking on client.ClientID= Booking.ClientID
		where ClientID = @id
GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientProfile]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetClientProfile]
		@ClientId int
		as
		select FName, LName,Phone, Email, BirthDate, IsActive
		from client
		inner join [User] on [User].UserID= Client.ClientID
		where Client.ClientID=@ClientId;
		--====
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCompletedBookings]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCompletedBookings]
AS
BEGIN
    SELECT *
    FROM Booking
    WHERE Status = 'Completed';
END;
EXEC sp_GetCompletedBookings;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDailyBookingsReport]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDailyBookingsReport]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CAST(BookingDate AS DATE) AS BookingDay,
        COUNT(BookingID) AS TotalBookings,
        SUM(CASE WHEN Status = 'Completed' THEN 1 ELSE 0 END) AS CompletedBookings,
        SUM(CASE WHEN Status = 'Pending' THEN 1 ELSE 0 END) AS PendingBookings
    FROM Booking
    GROUP BY
        CAST(BookingDate AS DATE)
    ORDER BY
        BookingDay;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetFreqClient]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
		CREATE procedure [dbo].[SP_GetFreqClient]
		as
		select top(10)
		c.ClientID,
	   [User].FName,
	   [User].LName,
	   count (b.BookingID) TotalBooking
		from Client c
		inner join booking b on c.ClientID=b.ClientID
		inner join [User] on c.ClientID= [User].UserID
		Group by c.ClientID, [User].FName,
	   [User].LName
		Order by TotalBooking DESC;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMonthlyRevenueReport]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetMonthlyRevenueReport]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        YEAR(CreatedAt) AS RevenueYear,
        MONTH(CreatedAt) AS RevenueMonth,
        DATENAME(MONTH, CreatedAt) AS MonthName,
        SUM(Amount) AS TotalRevenue
    FROM Payment
    WHERE Status = 'Paid'
    GROUP BY
        YEAR(CreatedAt),
        MONTH(CreatedAt),
        DATENAME(MONTH, CreatedAt)
    ORDER BY
        RevenueYear,
        RevenueMonth;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPaidPayments]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPaidPayments]
AS
BEGIN
    SELECT *
    FROM Payment
    WHERE Status = 'Paid';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPaymentByBooking]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPaymentByBooking]
    @BookingID INT
AS
BEGIN
    SELECT *
    FROM Payment
    WHERE BookingID = @BookingID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPendingBookings]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPendingBookings]
AS
BEGIN
    SELECT *
    FROM Booking
    WHERE Status = 'Pending';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPendingPayments]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPendingPayments]
AS
BEGIN
    SELECT *
    FROM Payment
    WHERE Status = 'Pending';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetReviewsByClient]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetReviewsByClient]
    @ClientID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        r.ReviewID,
        r.BookingID,
        r.Rating,
        r.Comment,
        r.SubmittedAt,

        -- Worker Info
        w.WorkerID,
        CONCAT(u.FName, ' ', u.LName) AS WorkerName
    FROM Review r
    JOIN Booking b
        ON r.BookingID = b.BookingID
    JOIN Worker w
        ON b.WorkerID = w.WorkerID
    JOIN [User] u
        ON w.WorkerID = u.UserID
    WHERE r.ClientID = @ClientID
    ORDER BY r.SubmittedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetReviewsByWorker]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetReviewsByWorker]
    @WorkerID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        r.ReviewID,
        r.BookingID,
        r.ClientID,
        CONCAT(u.FName, ' ', u.LName) AS ClientName,
        r.Rating,
        r.Comment,
        r.SubmittedAt
    FROM Review r
    JOIN Client c
        ON r.ClientID = c.ClientID
    JOIN [User] u
        ON c.ClientID = u.UserID
    JOIN Booking b
        ON r.BookingID = b.BookingID
    WHERE b.WorkerID = @WorkerID
    ORDER BY r.SubmittedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetServicesByCategory]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetServicesByCategory]
    @CategoryID INT
AS
BEGIN
    SELECT
        ServiceID,
        ServiceName,
        Description,
       BasePrice
    FROM Service
    WHERE CategoryID = @CategoryID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSystemSummaryDashboard]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSystemSummaryDashboard]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        -- Users
        (SELECT COUNT(*) FROM [User]) AS TotalUsers,
        (SELECT COUNT(*) FROM [User] WHERE IsActive = 1) AS ActiveUsers,

        -- Clients & Workers
        (SELECT COUNT(*) FROM Client) AS TotalClients,
        (SELECT COUNT(*) FROM Worker) AS TotalWorkers,

        -- Bookings
        (SELECT COUNT(*) FROM Booking) AS TotalBookings,
        (SELECT COUNT(*) FROM Booking WHERE Status = 'Completed') AS CompletedBookings,
        (SELECT COUNT(*) FROM Booking WHERE Status = 'Pending') AS PendingBookings,

        -- Revenue
        (SELECT ISNULL(SUM(Amount), 0) FROM Payment WHERE Status = 'Paid') AS TotalRevenue,

        -- Ratings
        (SELECT AVG(CAST(RatingValue AS DECIMAL(5,2))) FROM ClientRateWorker) AS AvgWorkerRating,
        (SELECT AVG(CAST(RatingValue AS DECIMAL(5,2))) FROM WorkerRateClient) AS AvgClientRating;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTopRatedWorker]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create procedure [dbo].[SP_GetTopRatedWorker]

    @Top INT = 10   -- default return top 10
	AS

    SELECT TOP (@Top)
        U.UserID AS WorkerID,
        U.FName,
        U.LName,
        U.Email,
        U.Phone,

        W.ExperienceYears,
        W.HourlyRate,
        W.AvailabilityStatus,
        W.IsVerified,
        W.CompletedJobs,
        RatingSummary.AverageRating,
        RatingSummary.TotalRatings
		
    FROM Worker W
    INNER JOIN [User] U ON W.WorkerID = U.UserID

    OUTER APPLY (
        SELECT 
            AVG(CAST(RatingValue AS DECIMAL(10,2))) AS AverageRating,
            COUNT(*) AS TotalRatings
        FROM WorkerRateClient
        WHERE WorkerID = W.WorkerID
    ) RatingSummary

    ORDER BY 

        RatingSummary.AverageRating DESC,
        RatingSummary.TotalRatings DESC,
        W.CompletedJobs DESC;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUpcomingBookingsByDate]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUpcomingBookingsByDate]
    @FromDate DATETIME
AS
BEGIN
    SELECT *
    FROM Booking
    WHERE Status = 'Pending'
      AND BookingDate >= @FromDate
    ORDER BY BookingDate ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserById]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetUserById]
		@id int
		as
		select* from [User] 
		where UserID = @id;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetWorkerProfile]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[SP_GetWorkerProfile]
            @WorkerID INT
			as 
    ---------------------------------------------------------
    -- MAIN WORKER PROFILE
    ---------------------------------------------------------
    SELECT 
        U.UserID AS WorkerID,
        U.FName,
        U.LName,
        U.Email,
        U.Phone,
        U.BirthDate,
        U.CreatedAt AS JoinedAt,
        Category.CategoryName,
        W.ExperienceYears,
        W.HourlyRate,
        W.AvailabilityStatus,
        W.IsVerified,
        W.CompletedJobs,
		
        RatingSummary.AverageRating,
        RatingSummary.TotalRatings
    FROM Worker W
    INNER JOIN [User] U ON W.WorkerID = U.UserID
	inner join Category on w.CategoryID=Category.CategoryID
    OUTER APPLY (
        SELECT 
            AVG(CAST(RatingValue AS DECIMAL(10,2))) AS AverageRating,
            COUNT(*) AS TotalRatings
        FROM WorkerRateClient
        WHERE WorkerID = @WorkerID
    ) AS RatingSummary
    WHERE W.WorkerID = @WorkerID;

   
GO
/****** Object:  StoredProcedure [dbo].[sp_IncrementClientTotalBookings]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_IncrementClientTotalBookings]
    @ClientID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if client exists
    IF NOT EXISTS (SELECT 1 FROM Client WHERE ClientID = @ClientID)
    BEGIN
        RAISERROR ('Client not found', 16, 1);
        RETURN;
    END

    UPDATE Client
    SET TotalBooking = TotalBooking + 1
    WHERE ClientID = @ClientID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_IncrementWorkerCompletedJobs]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_IncrementWorkerCompletedJobs]
    @WorkerID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if worker exists
    IF NOT EXISTS (SELECT 1 FROM Worker WHERE WorkerID = @WorkerID)
    BEGIN
        RAISERROR ('Worker not found', 16, 1);
        RETURN;
    END

    UPDATE Worker
    SET CompletedJobs = CompletedJobs + 1
    WHERE WorkerID = @WorkerID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RateClient]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RateClient]
    @WorkerID  INT,
    @ClientID  INT,
    @Rating    INT,
    @Comment   NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate rating range
    IF @Rating NOT BETWEEN 1 AND 5
    BEGIN
        RAISERROR ('Rating must be between 1 and 5', 16, 1);
        RETURN;
    END

    -- Prevent duplicate rating (Worker -> Client)
    IF EXISTS (
        SELECT 1 
        FROM WorkerRateClient 
        WHERE WorkerID = @WorkerID 
          AND ClientID = @ClientID
    )
    BEGIN
        RAISERROR ('Worker has already rated this client', 16, 1);
        RETURN;
    END

    INSERT INTO WorkerRateClient (WorkerID, ClientID, RatingValue, Comment)
    VALUES (@WorkerID, @ClientID, @Rating, @Comment);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RateWorker]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RateWorker]
    @ClientID   INT,
    @WorkerID   INT,
    @Rating     INT,
    @Comment    NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate rating range
    IF @Rating NOT BETWEEN 1 AND 5
    BEGIN
        RAISERROR ('Rating must be between 1 and 5', 16, 1);
        RETURN;
    END

    -- Prevent duplicate rating (Client -> Worker)
    IF EXISTS (
        SELECT 1 
        FROM ClientRateWorker 
        WHERE ClientID = @ClientID 
          AND WorkerID = @WorkerID
    )
    BEGIN
        RAISERROR ('Client has already rated this worker', 16, 1);
        RETURN;
    END

    INSERT INTO ClientRateWorker (ClientID, WorkerID, RatingValue, Comment)
    VALUES (@ClientID, @WorkerID, @Rating, @Comment);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBookingStatus]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateBookingStatus]
    @BookingID INT,
    @Status NVARCHAR(50)
AS
BEGIN
    UPDATE Booking
    SET Status = @Status
    WHERE BookingID = @BookingID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCategory]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateCategory]
@CategoryID INT,
@CategoryName NVARCHAR(100)= NULL,
@Description NVARCHAR(255)= NULL

as 
update Category SET 
     CategoryName = COALESCE(@CategoryName, CategoryName),
        Description = COALESCE(@Description, Description)
         WHERE CategoryID = @CategoryID;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateClientNotes]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_UpdateClientNotes]
		@id int,
		@Notes nvarchar(50)
		as
		update Client set 
		Notes=@Notes
		where ClientID=@id
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateClientRating]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateClientRating]
    @WorkerID INT,
    @ClientID INT,
    @Rating   INT,
    @Comment  NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate rating
    IF @Rating NOT BETWEEN 1 AND 5
    BEGIN
        RAISERROR ('Rating must be between 1 and 5', 16, 1);
        RETURN;
    END

    -- Check if rating exists
    IF NOT EXISTS (
        SELECT 1
        FROM WorkerRateClient
        WHERE WorkerID = @WorkerID
          AND ClientID = @ClientID
    )
    BEGIN
        RAISERROR ('Client rating not found for this worker', 16, 1);
        RETURN;
    END

    UPDATE WorkerRateClient
    SET
        RatingValue = @Rating,
        Comment = @Comment,
        RatedAt = GETDATE()
    WHERE WorkerID = @WorkerID
      AND ClientID = @ClientID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePaymentStatus]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePaymentStatus]
    @PaymentID INT,
    @Status NVARCHAR(50)
AS
BEGIN
    UPDATE Payment
    SET Status = @Status
    WHERE PaymentID = @PaymentID;
END;

EXEC sp_UpdatePaymentStatus
    @PaymentID = 1,
    @Status = 'Paid';
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateReview]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateReview]
    @ReviewID INT,
    @Rating   INT,
    @Comment  NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate Rating
    IF @Rating NOT BETWEEN 1 AND 5
    BEGIN
        RAISERROR ('Rating must be between 1 and 5', 16, 1);
        RETURN;
    END

    -- Check if Review exists
    IF NOT EXISTS (SELECT 1 FROM Review WHERE ReviewID = @ReviewID)
    BEGIN
        RAISERROR ('Review not found', 16, 1);
        RETURN;
    END

    UPDATE Review
    SET 
        Rating = @Rating,
        Comment = @Comment,
        SubmittedAt = GETDATE()
    WHERE ReviewID = @ReviewID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateService]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateService]
    @ServiceID INT,
    @ServiceName NVARCHAR(100) = NULL,
    @Description NVARCHAR(255) = NULL,
    @BasePrice DECIMAL(10,2) = NULL,
    @CategoryID INT = NULL
AS
BEGIN
    UPDATE Service
    SET 
        ServiceName = COALESCE(@ServiceName, ServiceName),
        Description = COALESCE(@Description, Description),
        BasePrice = COALESCE(@BasePrice, BasePrice),
        CategoryID = COALESCE(@CategoryID, CategoryID)
    WHERE ServiceID = @ServiceID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_UpdateUser]
		@id int,
		@fName nvarchar(50),
		@lName nvarchar(50),
		@phone nvarchar(20)
		as
		update [User] set 
		FName =@fName, 
		LName=@lName,
		Phone=@phone
		where UserID=@id
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateWorkerAvailability]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

			 Create Procedure [dbo].[SP_UpdateWorkerAvailability]
			 @WorkerID int,
			 @Availability nvarchar(50)
			 as
			 update Worker
			 set AvailabilityStatus = @Availability

			 where WorkerID=@WorkerID


			  --===========================
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateWorkerProfile]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create  procedure [dbo].[SP_UpdateWorkerProfile]
			 @WorkerID INT,

			-- User fields (nullable, update only if provided)
			@FName NVARCHAR(50) ,
			@LName NVARCHAR(50) ,
			@Phone NVARCHAR(20) ,
			@BirthDate DATE = NULL,

			-- Worker fields (nullable)
			@ExperienceYears INT = NULL,
			@HourlyRate DECIMAL(10,2) = NULL,
			@AvailabilityStatus NVARCHAR(50) = NULL,
			@IsVerified BIT = NULL

			as

			UPDATE [User]
        SET 
            FName = ISNULL(@FName, FName),
            LName = ISNULL(@LName, LName),
            Phone = ISNULL(@Phone, Phone),
            BirthDate = ISNULL(@BirthDate, BirthDate)
        WHERE UserID = @WorkerID;

		 UPDATE Worker
        SET 
            ExperienceYears = ISNULL(@ExperienceYears, ExperienceYears),
            HourlyRate = ISNULL(@HourlyRate, HourlyRate),
            AvailabilityStatus = ISNULL(@AvailabilityStatus, AvailabilityStatus),
            IsVerified = ISNULL(@IsVerified, IsVerified)
        WHERE WorkerID = @WorkerID;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateWorkerRating]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateWorkerRating]
    @ClientID INT,
    @WorkerID INT,
    @Rating   INT,
    @Comment  NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate rating
    IF @Rating NOT BETWEEN 1 AND 5
    BEGIN
        RAISERROR ('Rating must be between 1 and 5', 16, 1);
        RETURN;
    END

    -- Check if rating exists
    IF NOT EXISTS (
        SELECT 1
        FROM ClientRateWorker
        WHERE ClientID = @ClientID
          AND WorkerID = @WorkerID
    )
    BEGIN
        RAISERROR ('Worker rating not found for this client', 16, 1);
        RETURN;
    END

    UPDATE ClientRateWorker
    SET
        RatingValue = @Rating,
        Comment = @Comment,
        RatedAt = GETDATE()
    WHERE ClientID = @ClientID
      AND WorkerID = @WorkerID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_VerifyWorker]    Script Date: 1/6/2026 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_VerifyWorker]
			 @WorkerID int 
			 as
			 update Worker
			 set IsVerified = 1
			 where WorkerID=@WorkerID

GO
USE [master]
GO
